.modalClose {
  display: flex;
  position: fixed;
  top: 3%;
  right: 3%;
  cursor: pointer;
  object-fit: cover;
  transition: 0.3s;
  width: 5%;
  height: auto;
}

.modalNext {
  display: flex;
  position: fixed;
  top: 45%;
  right: 3%;
  cursor: pointer;
  object-fit: cover;
  transition: 0.3s;
  width: 4%;
  height: auto;
}

.modalBack {
  display: flex;
  position: fixed;
  top: 45%;
  left: 3%;
  cursor: pointer;
  object-fit: cover;
  transition: 0.3s;
  width: 4%;
  height: auto;
}

.modaltrigger {
  display: flex;
  width: 28%;
  border-radius: 4px;
  border-width: 2px;
  border-style: solid;
  border-color: var(--color-dim);
  cursor: pointer;
  object-fit: cover;
  opacity: 1;
  padding: 1%;
  transition: 0.3s;
}

.modaltriggerLarge {
  display: flex;
  width: 100%;
  border-radius: 4px;
  box-shadow: 0px 2px 3px var(--color-background);
  cursor: pointer;
  object-fit: cover;
  opacity: 1;
  transition: 0.3s;
}

.modaltriggerMedium {
  display: flex;
  width: 48%;
  border-radius: 4px;
  box-shadow: 0px 2px 3px var(--color-background);
  cursor: pointer;
  object-fit: cover;
  opacity: 1;
  transition: 0.3s;
}

.modalempty {
  display: flex;
  width: 28%;
  border-width: 2px;
  border-style: solid;
  margin-bottom: 4%;
  padding: 1%;
  opacity: 0;
}

.modaltriggerSquare {
  display: flex;
  width: 30%;
  border-radius: 5px;
  border-width: 2px;
  border-style: none;
  cursor: pointer;
  transition: 0.3s;
  object-fit: cover;
  opacity: 1;
}

.modaltriggerVideo {
  display: flex;
  width: 30%;
  border-radius: 5px;
  border-width: 2px;
  border-style: none;
  cursor: pointer;
  transition: 0.3s;
  object-fit: cover;
  opacity: 1;
}

.modaltrigger:hover {
  opacity: 1;
  transform: scale(1.05);
  border-color: var(--color-text-link);
}

.modaltriggerMedium:hover {
  opacity: 1;
  transform: scale(1.03);
  box-shadow: 0px 3px 6px var(--color-background);
}

.modaltriggerLarge:hover {
  opacity: 1;
  transform: scale(1.02);
  box-shadow: 0px 3px 6px var(--color-background);
}

.modaltriggerSquare:hover {
  opacity: 1;
  transform: scale(1.05);
}

.modalNext:hover,
.modalBack:hover {
  transform: scale(1.05);
}

.modalClose:hover {
  transform: scale(1.08);
}

.modaltriggerVideo:hover {
  opacity: 1;
  transform: scale(1.05);
}

/* The Modal (background) */
.modal {
  display: none;
  flex-direction: column;
  position: fixed;
  align-items: center;
  z-index: 99;
  left: 0;
  top: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

/* Modal Content (Image) */
.modal-content {
  align-self: center;
  margin: auto;
  display: none;
  height: 80%;
  max-width: 1920px;
  border-radius: 10px;
}

.modal-content-video {
  align-self: center;
  margin: auto;
  display: none;
  height: 80%;
  max-width: 1920px;
  border-radius: 10px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: flex;
  justify-content: center;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: var(--main-text-color);
  padding: 10px 0;
  height: 20px;
}

/* Add Animation - Zoom in the Modal */
.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.3s;
}

.modal {
  animation-name: fadein;
  animation-duration: 0.3s;
}

@keyframes zoom {
  from {
    transform: scale(0.9)
  }

  to {
    transform: scale(1)
  }
}

@keyframes fadein {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 1000px) {
  .modal-content {
    width: 100%;
    height: auto;
  }

  .modaltrigger,
  .modaltriggerMedium,
  .modaltriggerLarge,
  .modaltriggerSquare,
  .modaltriggerVideo {
    border-radius: 0px;
    border-style: none;
    margin-top: 2vh;
    width: 100%;
    margin: -1%;
    margin-bottom: 0;
  }

  .modaltrigger:hover,
  .modaltriggerMedium:hover,
  .modaltriggerLarge:hover {
    opacity: 1;
    transform: none;
    box-shadow: 0px 3px 6px var(--color-background);
  }

}