:root
{
  --bg-color: #121021;
  --footer-color: #1c1935;
  --main-text-color: #96b3fd;
  --box-color: #1c1935;

  --font-menu: 16px;
  --font-label: 18px;
  --font-footer: 14px;

  --font-title: 36px;
  --font-description: 20px;

  scroll-behavior: smooth;
}

body
{
  font-family: 'Josefin Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: var(--font-label);
  color: var(--main-text-color);
  background: var(--bg-color);
  margin: 0px;
}

.top-bar
{
  display: flex;
  flex-direction: row;
  font-size: var(--font-menu);
  justify-content: center;
  background-color: var(--bg-color);
}

.wrapper-max-width
{
  width: 100%;
  max-width: 1260px;
  display: flex;
  flex-direction: row;
}

.top-bar-left
{
  margin: auto auto auto 0;
  justify-content: left;
  text-align: left;
  padding-left: 10px;
}

.top-bar-right
{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  text-align: right;
  padding-right: 10px;
}

a:visited, a:link, a:active{
  font-family: 'Josefin Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: var(--font-menu);
  color: var(--main-text-color);
  padding: 10px;
  margin-left: 5px;
  border-radius: 4px;
  text-decoration: none;
  transition: 0.3s all ease;
}

a:hover{
  background: var(--footer-color);
  text-decoration: none;
}

.logo
{
  display: flex;
  flex-direction: row;
  height: 360px;
  max-width: 100%;
  filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.6));
  margin: auto;
}

.avatar
{
  display: flex;
  flex-direction: row;
  height: 20vh;
  max-width: 100%;
  justify-content: center;
  margin: auto;
}

.celAvatar
{
  display: flex;
  flex-direction: row;
  width: 30%;
  justify-content: center;
}

.modalTriggerContainer
{
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 800px;
  margin-top: 60px;
  margin-bottom: 80px;
}

.title
{
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
  font-size: var(--font-title);
  color: #ffffff;
  filter: drop-shadow(0px 0px 8px var(--main-text-color));
}
.imgShadow
{
  border-radius: 5px;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.2));
}
.description
{
  margin: auto;
  text-justify: auto;
  padding: 20px;
  max-width: 800px;
  line-height: 1.5em;
  margin-bottom: 20px;
  text-align: left;
  font-size: var(--font-description);
}

.cellContainerWrapper
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 600px;
}
.cellContainer
{
  display: flex;
  flex-direction: row;
  font-size: var(--font-label);
  border-radius: 4px;
  justify-content: center;
  align-content: flex-start;
}
.celTitle
{
  text-align: left;
  font-size: var(--font-title);
  margin-bottom: 20px;
}
.cellDescription
{
  max-width: 800px;
  line-height: 1.5em;
  text-align: left;
  font-size: var(--font-description);
  text-shadow: #121021;
}
.smallCell
{
  display: flex;
  flex-direction: column;
  width: 30%;
  padding-left: 40px;
  padding-right: 40px;
}
.largeCell
{
  display: flex;
  flex-direction: column;
  width: 40%;
}
.rightCell
{
  float:left
}
.leftCell
{
  float:right
}

.scrollToTop
{
  display: block; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: rgba(255, 255, 255, 0.3); /* Set a background color */
  cursor: default; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  opacity: 0;
  transition: 0.6s all ease;
}

.scrollToTop.active
{
  cursor: pointer; /* Add a mouse pointer on hover */
  opacity: 1;
}

.scrollToTop.active:hover
{
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.8);
}

.footer
{
  font-family: 'Roboto', sans-serif;
  justify-content: center;
  background: var(--footer-color);
  font-size: var(--font-footer);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
}
