:root
{
  --bg-color: #121021;
  --footer-color: #1c1935;
  --main-text-color: #96b3fd;
  --box-color: #1c1935;
  --font-menu: 16px;
  --font-label: 18px;
  --font-footer: 14px;
  scroll-behavior: smooth;
}

body
{
  font-family: 'Josefin Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: var(--font-label);
  color: var(--main-text-color);
  background: var(--bg-color);
  margin: 0px;
}

.top-bar
{
  display: flex;
  flex-direction: row;
  font-size: var(--font-menu);
  justify-content: center;
  background-color: var(--bg-color);
}

.wrapper-max-width
{
  width: 100%;
  max-width: 1260px;
  display: flex;
  flex-direction: row;
}

.top-bar-left
{
  margin: auto auto auto 0;
  justify-content: left;
  text-align: left;
  padding-left: 20px;
}

.top-bar-right
{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  text-align: right;
}

a:visited, a:link, a:active{
  font-family: 'Josefin Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: var(--font-menu);
  color: var(--main-text-color);
  padding: 10px;
  margin-left: 5px;
  border-radius: 4px;
  text-decoration: none;
  transition: 0.3s all ease;
}

a:hover{
  background: var(--footer-color);
  text-decoration: none;
}

.logo
{
  display: flex;
  flex-direction: row;
  height: 360px;
  max-width: 100%;
  padding-top: 120px;
  filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.6));
}

.avatar
{
  display: flex;
  flex-direction: row;
  height: 20vh;
  max-width: 100%;
  justify-content: center;
}

.modalTriggerContainer
{
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 800px;
}

.propertyBox
{
  margin: auto;
  width: 380px;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: var(--font-label);
  background: var(--box-color);
  border-radius: 4px;
}

.leftImageContainer
{
  display: flex;
  flex-direction: row;
  font-size: var(--font-label);
  background: var(--box-color);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.leftContent
{
  display: flex;
  flex-direction: column;
}
.leftContent
{
  display: flex;
  flex-direction: column;
}

.scrollToTop
{
  display: block; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: rgba(255, 255, 255, 0.3); /* Set a background color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  opacity: 0;
  transition: 0.6s all ease;
}

.scrollToTop.active
{
  opacity: 1;
}

.scrollToTop.active:hover
{
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.8);
}

.footer
{
  font-family: 'Roboto', sans-serif;
  justify-content: center;
  background: var(--footer-color);
  font-size: var(--font-footer);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
}
