:root {
  --color-background: #251f25;

  --color-text-white: #a3a29a;
  --color-text-link: #79b2ff;
  --color-dim: #545c7e;
  --color-accent: #c56981;

  --color-menu: rgba(0, 0, 0, 0.15);
  --color-menu-sticky: rgba(22, 18, 16, 0.95);

  --font-title: 2.0em;
  --font-title-large: 2.4em;
  --font-description: 1.0em;
  --font-footer: 0.8em;

  scroll-behavior: smooth;
}


body {
  font-family: 'Noto Sans Mono', monospace;
  font-style: normal;
  font-weight: 400;
  font-size: var(--font-description);
  color: var(--color-text-white);
  background: var(--color-background);
  text-align: -webkit-center;
  text-align: -moz-center;
  margin: 0;
  padding-top: 3.5em;
}

.imageCover {
  width: auto;
  height: auto;
  object-fit: cover;
}

.imageContain {
  width: auto;
  height: auto;
  object-fit: contain;
}

.bg-wrapper {
  max-width: 1200px;
  padding: 40px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  column-gap: 20px;
}

.bg-wrapper-reverse {
  max-width: 1200px;
  padding: 40px;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  column-gap: 20px;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1.0em 0.5em;
  background-color: var(--color-menu);
  transition: 0.3s all ease;
}

.header.active {
  padding: 0.5em 0.5em;
  font-weight: 500;
  background-color: var(--color-menu-sticky);
  transition: 0.3s all ease;
  z-index: 50;
}

.modal-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  row-gap: 2em;
}

.title {
  margin-bottom: 0.5em;
  text-align: center;
  font-family: "Jersey 10";
  font-size: var(--font-title);
  color: var(--color-accent);
  font-weight: 500;
}

.bigTitle {
  margin-top: 0.5em;
  margin-bottom: 1.0em;
  font-family: "Jersey 10";
  text-align: center;
  font-size: var(--font-title-large);
  color: var(--color-accent);
  font-weight: 500;
}

.description {
  line-height: 1.6em;
  text-align: left;
  font-size: var(--font-description);
}

.dataRow {
  line-height: 1.5em;
  text-align: left;
  font-size: var(--font-description);
  display: flex;
  flex-direction: row;
}

.dataRowLarge {
  margin-bottom: 0.5em;
  text-align: left;
  font-size: 1.1em;
  display: flex;
  flex-direction: row;
}

.accentText {
  color: var(--color-accent);
  font-weight: 500;
}

.accentTextFixed {
  color: var(--color-accent);
  display: inline-block;
  font-weight: 500;
  min-width: 12em;
}

.dimText {
  color: var(--color-dim);
  font-weight: 500;
}

.dimTextFixed {
  color: var(--color-dim);
  font-weight: 500;
  display: inline-block;
  min-width: 12em;
}

.link-wrapper {
  align-items: center;
  max-width: 760px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.linkText {
  color: var(--color-text-link);
  text-decoration: none;
  flex: 1;
}

.linkTextHighlight {
  color: var(--color-accent);
  font-weight: 500;
  text-decoration: none;
  cursor: default;
  flex: 1;
}

.textbox {
  max-width: 400px;
  border: 32px solid transparent;
  border-image: url("../img/panel.png");
  border-image-slice: 30% fill;
  padding: 0px 0px 10px 0px;
}

.textboxLarge {
  max-width: 800px;
  border: 32px solid transparent;
  border-image: url("../img/panel.png");
  border-image-slice: 30% fill;
  padding: 0px 10px 10px 10px;
}

.scrollToTop {
  display: flex;
  position: fixed;
  justify-content: center;
  width: 50px;
  height: 50px;
  bottom: 20px;
  right: 30px;
  z-index: 98;
  border: none;
  outline: none;
  cursor: default;
  opacity: 0;
  transition: 0.6s all ease;
}

.scrollToTop.active {
  cursor: pointer;
  opacity: 0.5;
}

.scrollToTop.active:hover {
  opacity: 1;
}

.footer {
  text-align: center;
  font-size: var(--font-footer);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
}

@media only screen and (max-width: 1000px) {

  :root {
    --font-description: 0.9em;
  }

  .title,
  .bigTitle {
    margin-top: 0;
    margin-bottom: 0.5em;
    text-align: center;
    font-family: "Jersey 10";
    font-size: var(--font-title);
    color: var(--color-accent);
    font-weight: 500;
  }

  .accentTextFixed,
  .dimTextFixed {
    min-width: 10em;
  }


  .bg-wrapper,
  .bg-wrapper-reverse {
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .imageCover {
    width: 100%;
    max-width: 500px;
  }

  .textbox,
  .textboxLarge {
    max-width: 900px;
    border: 32px solid transparent;
    border-image: url("../img/panel.png");
    border-image-slice: 30% fill;
    padding: 0px 0px 0px 0px;
  }
}