:root {
  --color-background: #251f25;
  --color-text-white: #a3a29a;
  --color-text-link: #79b2ff;
  --color-dim: #545c7e;
  --color-accent: #c56981;
  --color-menu: rgba(0, 0, 0, 0.15);
  --color-menu-sticky: rgba(22, 18, 16, 0.95);
  --color-menu-hamburger: linear-gradient(180deg, rgba(36, 35, 51, 0.95) 60%, rgb(41, 39, 73) 100%);
  --font-title: 2.4em;
  --font-title-medium: 2.4em;
  --font-title-large: 3.2em;
  --font-description: 1.0em;
  --font-footer: 0.8em;
  --font-hamburger: 1.4em;
  scroll-behavior: smooth;
}

body {
  font-family: 'Noto Sans Mono', monospace;
  font-style: normal;
  font-weight: 400;
  font-size: var(--font-description);
  color: var(--color-text-white);
  background: var(--color-background);
  text-align: -webkit-center;
  text-align: -moz-center;
  margin: 0;
  padding-top: 3.5em;
}

.imageCover {
  width: auto;
  height: auto;
  object-fit: cover;
}

.imageContain {
  width: auto;
  height: auto;
  object-fit: contain;
}

.bg-wrapper {
  max-width: 1200px;
  padding: 40px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  column-gap: 20px;
}

.bg-wrapper-reverse {
  max-width: 1200px;
  padding: 40px;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  column-gap: 20px;
}

.header-mobile {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

.hamburger {
  display: inline-block;
  position: fixed;
  top: 0;
  right: 0;
  padding: 1.0em 2.0em;
  cursor: pointer;
  z-index: 50;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1.0em 0.5em;
  background-color: var(--color-menu);
  transition: 0.3s all ease;
}

.header.active {
  padding: 0.5em 0.5em;
  font-weight: 500;
  background-color: var(--color-menu-sticky);
  transition: 0.3s all ease;
  z-index: 50;
}

.modal-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  row-gap: 2em;
}

.title {
  margin-bottom: 0.5em;
  text-align: center;
  font-family: "Micro 5", sans-serif;
  letter-spacing: 0.05em;
  font-size: var(--font-title);
  color: var(--color-accent);
  font-weight: 500;
}

.rowTitle {
  text-align: center;
  font-family: "Micro 5", sans-serif;
  font-size: var(--font-title-medium);
  letter-spacing: 0.05em;
  color: var(--color-accent);
  font-weight: 500;
}

.bigTitle {
  margin-bottom: 0.5em;
  font-family: "Micro 5", sans-serif;
  letter-spacing: 0.05em;
  text-align: center;
  font-size: var(--font-title-large);
  color: var(--color-accent);
  font-weight: 500;
}

.description {
  line-height: 1.6em;
  text-align: left;
  font-size: var(--font-description);
}

.dataRow {
  line-height: 1.5em;
  text-align: left;
  font-size: var(--font-description);
  display: flex;
  flex-direction: row;
}

.dataRowLarge {
  margin-bottom: 0.5em;
  text-align: left;
  font-size: 1.1em;
  display: flex;
  flex-direction: row;
}

.accentText {
  color: var(--color-accent);
  font-weight: 500;
}

.accentTextFixed {
  color: var(--color-accent);
  display: inline-block;
  font-weight: 500;
  min-width: 12em;
}

.dimText {
  color: var(--color-dim);
  font-weight: 500;
}

.dimTextFixed {
  color: var(--color-dim);
  font-weight: 500;
  display: inline-block;
  min-width: 12em;
}

.link-wrapper {
  align-items: center;
  max-width: 760px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.linkText {
  color: var(--color-text-link);
  text-decoration: none;
  flex: 1;
}

.linkTextHighlight {
  color: var(--color-accent);
  font-weight: 500;
  text-decoration: none;
  cursor: default;
  flex: 1;
}

.textbox {
  max-width: 400px;
  border: 32px solid transparent;
  border-image: url("../img/panel.png");
  border-image-slice: 30% fill;
  padding: 0px 0px 10px 0px;
}

.textboxLarge {
  max-width: 800px;
  border: 32px solid transparent;
  border-image: url("../img/panel.png");
  border-image-slice: 30% fill;
  padding: 0px 10px 10px 10px;
}

.scrollToTop {
  display: flex;
  position: fixed;
  justify-content: center;
  width: 50px;
  height: 50px;
  bottom: 20px;
  right: 30px;
  z-index: 98;
  border: none;
  outline: none;
  cursor: default;
  opacity: 0;
  transition: 0.2s all ease;
}

.scrollToTop.active {
  cursor: pointer;
  opacity: 1;
}

.scrollToTop.active:hover {
  transform: scale(1.05);
}

.footer {
  text-align: center;
  font-size: var(--font-footer);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
}

@media only screen and (max-width: 1000px) {

  :root {
    --font-description: 0.9em;
    --font-title: 1.5em;
  }

  .title,
  .bigTitle,
  .rowTitle {
    margin-top: 0;
    margin-bottom: 0.5em;
    text-align: center;
    font-family: "Micro 5", sans-serif;
    font-size: var(--font-title-medium);
    color: var(--color-accent);
    font-weight: 500;
  }

  .accentTextFixed,
  .dimTextFixed {
    min-width: 11em;
    margin-bottom: 0.5em;
  }

  .bg-wrapper,
  .bg-wrapper-reverse {
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .imageCover {
    width: 100%;
    max-width: 500px;
    align-self: center;
  }

  .textbox,
  .textboxLarge {
    max-width: 900px;
    border: 32px solid transparent;
    border-image: url("../img/panel.png");
    border-image-slice: 30% fill;
    padding: 0px 0px 0px 0px;
  }

  .header {
    display: none;
  }

  .header-mobile {
    display: flex;
  }

  #mobilemenu {
    display: none;
    opacity: 0;
  }

  #mobilemenu.active {
    display: flex;
    opacity: 1;
    animation-name: slidein;
    animation-duration: 0.3s;
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 35px;
    height: 5px;
    background-color: var(--color-text-white);
    margin: 6px 0;
    box-shadow: 0px 3px 6px var(--color-background);
    transition: 0.2s;
  }

  .bar1.active {
    width: 25px;
    transform: translate(0, 11px) rotate(-45deg);
    background-color: var(--color-accent);
    box-shadow: none;
  }

  .bar2.active {
    opacity: 0;
    box-shadow: none;
  }

  .bar3.active {
    width: 25px;
    transform: translate(0, -11px) rotate(45deg);
    background-color: var(--color-accent);
    box-shadow: none;
  }

  @keyframes slidein {
    from {
      transform: translate(0px, -100px);
      opacity: 0
    }

    to {
      transform: translate(0px, 0px);
      opacity: 1
    }
  }

  .link-wrapper {
    max-width: none;
    flex-direction: column;
    padding: 2.0em;
    justify-content: center;
    width: 100%;
    background: var(--color-menu-hamburger);
  }

  .hamburgerText {
    color: var(--color-text-link);
    text-decoration: none;
    margin-bottom: 0.3em;
    margin-top: 0.3em;
    flex: 1;
    font-size: var(--font-hamburger);
  }

  .hamburgerTextHighlight {
    color: var(--color-accent);
    font-weight: 500;
    text-decoration: none;
    cursor: default;
    margin-bottom: 0.3em;
    margin-top: 0.3em;
    font-size: var(--font-hamburger);
    flex: 1;
  }
}